
.logo{
  max-height:auto;
  max-width:100px;
}

.item{
  padding-top:5px;
  padding-bottom:10px;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  background-color: #fff;
  border-radius: 20px;
  margin: 2px;
  border:solid 2px black;
}
/*Checkbox*/
input{
  max-width: 80vw;
  display: inline-block;
  text-shadow: 1px 1px 1px #a6a6a6;
  background-color: #ccc;
  padding-bottom: 10px;
}
.editing-label{
  font-family: "PT Serif Caption";
  font-size: 30px;
  text-align:center;
  padding-bottom:10px;
}

label{
  font-family: "PT Serif Caption";
  font-size:25px;
  display: inline-block;
  width:auto;
  padding-left: 0px;
  word-break: keep-all;
  text-shadow: 1px 2px 2px #a6a6a6;
}

.list .completed label{
  color: #a7b9c4;
  text-decoration:line-through;
  text-decoration-color: red;
}
.list .completed {
  background-color: #d9dee4;
}
.add{
  font-size: 30px;
  background-color: #BD5449;
  text-align:center;
  text-shadow: 1px 1px 1px #a6a6a6;
  padding: 1px;
}
#inputToDo{
    width: 60vw;
    max-height: 25px;
    text-align: center;
    font-size: 30px;
    background-color: #FFF;
    border: 2px solid #000;
    border-radius:10px;
    padding:20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
#addIco{
  padding-top: 5px;
  height:30px;
  width:auto;
}
p{
  text-align: center;
  color: #fff;
}
/* Styling for add task link which has been replaced by icon
  Keeping CSS for Alt text as backup for icon not loading
*/
.add a{
  font-family: "PT Serif Caption";
  padding-top: 5px;
  color: #FFF;
  font-size: 20px;
}
.add a:hover, .add a::selection{
  color: #BD5449;
}
/* End of text add styling */


.actions{
  text-align: right;
  margin-left:10px;
  display: inline-block;
  padding:8px;
  font-size: 10px;
}
ul, li {
  list-style-type: none;
  margin-left: 0px;
  padding-left:0px;
  text-align:center;
  border-radius: 2px;
}
/*Fonts*/
.item a{
  padding:5px;
  border: solid 1px  black;
  border-radius:5px;
  margin-bottom: 10px;
  background-color: #BD5449;
  color: #fff;
  box-shadow: 1px 1px 1px #a6a6a6;
}
.item a:hover{
  background-color: #fff;
  color: #BD5449;
}

h1{
  font-family: "PT Serif Caption";
  text-align:center;
  color: #fff;
  padding-top: 8px;
  text-shadow: 2px 2px 1px #4d4d4d;
}
}
/*End Fonts*/
body {
  padding:0px;
  margin:0px;
  background-color: #FFF;
  max-height:100vh;
}
#content{
  padding: 0px;
  padding-bottom:10px;
  border-left: solid #000 1px;
  border-right: solid #000 1px;
  min-height: 65vh;
  background-color: #BD5449;
}
#header{
  text-align: center;
}

#banner {
  background-color: #5982B7;
  padding-bottom:5px;
  margin: 0px;
  border: solid #000 1px;
  min-height:15vh;
  max-height: 30vh;
  border-radius: 10px 10px 0px 0px;
  overflow: auto;
  display: block;
}

html{
  background-color: #68778c;
  padding:0px;
}
#footer{

  padding: 5px 10px 20px 10px;
  background-color: #5982B7;
  margin:0px;
  border: solid #000 1px;
  border-radius: 0px 0px 10px 10px;
  width: auto;
  height:-webkit-fill-available;
  max-height: 20px;
  min-height:12vh;
  text-align: center;
}
