<!--List -->
<div class="list">
  <div class="add">
    <a href="" ng-Click="addToDo()">+ Add New Task</a>
  </div>
  <div class= "item" ng-class="{'editing-item': edit, 'edited':toDo.edited,'completed': toDo.completed}"
  ng-repeat="toDo in toDos | orderBy: 'completed'" ng-init="toDo.completed= false">
      <input ng-model="toDo.completed" type="checkbox"/>
      <label ng-hide="edit" class="editing-label">{{toDo.name}}</label>
      <input ng-blur="edit = false;" ng-show="edit" ng-model="toDo.name"class="editing-label" type="text"/>

    <!--Controls -->
      <div class="actions">
        <!--toggle for editing -->
          <a href="#" ng-click="edit = !edit">Edit</a>
          <a href="#" ng-click="saveToDos(toDo)">Save</a>
          <a href="#" ng-click="deleteToDo(toDo , $index)" class="delete">Delete</a>
      </div>
  </div>
</div>
